@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: Roboto,sans-serif;
    margin: 0px;
}

/* header styling */
.first-container {
    display: flex;
    background-color: hsl(215, 28%, 17%);
    color: rgb(249, 250, 247);
    width: 100%;



}
.header-container {
    flex: 2;
    display: flex;
    justify-content: space-around;
    
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

li {
    margin-right: 18px;
}

a {
    text-decoration: none;
    color: rgb(249, 250, 247);
    font-weight: 500;
}

.logo {
    width: 30px;
    height: auto;
}

.header {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 0px;
    
}
.header-name {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    
}

/* hero text styles */

.hero-container {
    display: flex;
    background-color: hsl(215, 28%, 17%);;
    height: 465px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.hero-text {
    color: white;
    flex-direction: column;
    max-width: 465px;
    margin: 0px;
}

.hero-header {
    font-size: 48px;
    font-weight: bolder;
}

.hero-paragraph {
    font-size: 18px;
    color: hsl(228, 11%, 91%);
    margin-bottom: 12px ;
}
button {
    background-color: hsl(217, 91%, 59%);
    border-radius: 10px;
}
.sign-up {
    border: 2px solid  hsl(217, 91%, 59%);
    padding: 5px;
    width: 134px;
    font-size: 18px;
    margin-bottom: 10px;
    
}

.sign-up a {
    font-weight: 700;
}

.hero-image {
    display: flex;
    margin-right: 20px;

}
.tech-img {
    width: 620px;
    height: 240px;
}

/* information section styling */



.info-header{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    align-self: center;
    flex:1 1 100%;
}


.info-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 54px;
    height: 500px;
    

}

.infographs{
    max-width: 300px;


}

.info-images {
    width: 200px;
    height: 200px;
    margin-bottom: 5px;

}

.info-text {
    text-align: center;
    font-weight: 500;
}

/*testimonial styling*/

.testimonial-container {
    display: flex;
    background-color: #e5e7eb;
    height: 432px;
}